@{
    ViewBag.Title = "Volunteers or Opportunities?";

}

<h1>Options</h1>

<a asp-action="Volunteers" asp-controller="Volunteer">Manage Volunteers</a>
<a asp-action="Opportunities" asp-controller="Opportunity">Manage Opportunities</a>